body {
    position: absolute;
    justify-content: center;
    padding: 6vw;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}
.form-control {
    margin: 1vw;
    box-sizing: border-box;
    width: 20vw;
    display: inline;
}
#red {
    color: red;
}
#green {
    color: green;
}
#blue {
    color: blue;
}
.well {
    padding: 5vw;
    margin: 1vw;
    font: bolder 12pt monospace;
    text-align: center;
}
label {
    text-align: center;
    display: block;
    font-size: 20pt;
}
